.footerDiv {
    height: 7vh;
    background-color: rgb(255, 235, 209);

    font-family:Verdana, Geneva, Tahoma, sans-serif; 

    color: rgb(110, 110, 110);

    display: flex;
    flex-direction: column;
    justify-content: center;

}

p {
    text-align: center; 

    font-size: 14px;  
}

@media (max-width: 730px) {
    p {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    p {
        font-size: 10px;
    }
}

@media (max-width: 460px) {
    p {
        font-size: 8px;
    }
}

@media (max-width: 380px) {
    p {
        font-size: 7px;
    }
}

@media (max-width: 380px) {
    p {
        font-size: 7px;
    }
}
