.titleDiv {

    font-family: drunkWideBold; 

    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    height: 100vh;

    background: linear-gradient(to right, #F9EAD3 0% 55%, #f9d477da 55% 70%, #ff9334d3 70% 85%, #ff611dcf 85% 100%); 

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    overflow: hidden;

    position: relative;
    

}






#rectangle1 {

    left: 175px;
    top: 175px;

    background: #FFAF82;


}

.rectangle {

    position: absolute;

    width: 150px;
    height: 150px;


}

#circle1 {
    width: 150px;
    height: 150px;
    background-color: #FF7979;

    top: 100px;
    left: 100px;

}

#circle2 {

    width: 1000px;
    height: 1000px;
    background-color: #ffd884;

    top: 500px;
    left: -500px;

    z-index: 1;

}

.circle {

    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FF7979;

    position: absolute;

}



@font-face {
    font-family: drunkWideBold;
    src: url(../fonts/DrunkWideBold/DrunkWildBold.ttf);
}

@font-face {
    font-family: freightBold; 
    src: url(../fonts/Freight\ Text\ Bold/FreightBigBoldSC.otf); 
}

.title {
    color: rgb(100, 100, 100);
    font-size: 60px; 
    width: 100%; 
    height: 100px;

    animation: titleAnimation 1.5s;
    animation-fill-mode: forwards;

    z-index: 1; 

}

.title p {
    margin-top: 15px;
    text-align: center;
    font-size: 20px; 

    animation: titleAnimation2 1.5s;
    animation-fill-mode: forwards;
    
}

@media (max-width: 1100px) {
    #circle1 {
        width: 0; 
        height: 0;
    }

    #rectangle1 {
        width: 0; 
        height: 0;
    }

    #circle2 {
        width: 0; 
        height: 0;
    }
    
}

@media (max-width: 600px) {
    .title {
        font-size: 30px; 
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
        animation: titleAnimation3 2s; 

    }
    
    .title p {
        margin-top: 15px;
        font-size: 15px; 

        animation: titleAnimation4 2s; 
        
    }
}

@keyframes titleAnimation {
    0% { font-size: 0px;}
    100% { font-size: 60px; }
}

@keyframes titleAnimation2 {
    0% { font-size: 0px;}
    100% { font-size: 20px; }
}

@keyframes titleAnimation3 {
    0% { font-size: 0px;}
    100% { font-size: 30px; }
}

@keyframes titleAnimation4 {
    0% { font-size: 0px;}
    100% { font-size: 15px; }
}

@keyframes shapesAnimation {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes backgroundAnimation {
    0% {background: #F9EAD3}
    32% {background: linear-gradient(to right, #F9EAD3 100%); }
    33% {background: linear-gradient(to right, #F9EAD3 0% 55%, #F9D477 55100%); }
    65% {background: linear-gradient(to right, #F9EAD3 0% 55%, #F9D477 55% 100%); }
    66% {background: linear-gradient(to right, #F9EAD3 0% 55%, #F9D477 55% 70%, #FF765E 70% 100%); }
    99% {background: linear-gradient(to right, #F9EAD3 0% 55%, #F9D477 55% 70%, #FF765E 70% 100%); }
    100% {background: linear-gradient(to right, #F9EAD3 0% 55%, #F9D477 55% 70%, #FF765E 70% 85%, #CECDFF 85% 100%); }
}

p {
    margin: 0; 

}

body {
    padding: 0;
    margin: 0; 

}

